<% include partials/header %>
<h1>Add Friend</h1>
<form action='/addfriend' method="POST">
  <input placeholder="enter name" name='friends' >
  <button type="submit">Submit</button>
</form>

<% include partials/footer %>
